<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Bookstore Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- Add Book Form -->
<h3 th:text="|Add a Book:|"/>
<form th:action="@{/add-book}" th:object="${book}" method="post">
    <label>ISBN: <input type="text" th:field="*{ISBN}" /><br/></label>
    <label>Title: <input type="text" th:field="*{title}" /><br/></label>
    <label>Author: <input type="text" th:field="*{author}" /><br/></label>
    <label>Publisher: <input type="text" th:field="*{publisher}" /><br/></label>
    <label>Description: <input type="text" th:field="*{description}" /><br/></label>
    <button type="submit">Add Book</button>
</form>


<h3 th:text="|Book List|"/>
<table>
    <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Description</th>
    </tr>
    <tr th:each="book: ${bookList}">
        <td th:text="${book.ISBN}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.description}"></td>
        <td>
            <!-- Edit Book Form -->
            <form th:action="@{edit-book/{id}(id=${book.id})}" method="get">
                <button type="submit">Edit</button>
            </form>
            <!-- Delete Book Form -->
            <form th:action="@{/delete-book/{id}(id=${book.id})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>